 <footer class="page-footer red darken-4" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text center">Thanks for visiting Cultist!</h5>
                <p class="grey-text text-lighten-4">Made by:</p>
                <h6 class="white-text"><%= link_to  "Adao Natalino", href="https://github.com/AdaoNatalino" %><br></h6>
                <h6 class="white-text"><%= link_to  "Jamie Symonds-Tayler", href="https://github.com/jsymondst" %></h6>

              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                 <br><h6 class="white-text"><br></h6>
                 <h6 class="white-text"></h6>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>