 <footer class="page-footer red darken-4" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text center">Thanks for visiting Cultist!</h5>
                <table>
                <tr><th><p class="grey-text text-lighten-4">Made by:</p></th><th></th></tr>
                <tr>
                  <td class="white-text">Adao Natalino</td>
                  <td>
                    <a href="https://github.com/AdaoNatalino" target="_blank"><%= image_tag  "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png", width: "30px" %></a>
                  </td>
                </tr>
                <tr>
                  <td class="white-text">Jamie Symonds-Tayler</td>
                    <td><a href="https://github.com/jsymondst" target="_blank"><%= image_tag  "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png", width: "30px" %></a>
                    </td>
                </tr>
                </table>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                 <br><h6 class="white-text"><br></h6>
                 <h6 class="white-text"></h6>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>