<h1>All Cities:</h1>
<div>
<table>
<% @locations.each do |location| %>
<tr>
  <td><h4><%= link_to location.name, location %></h4></td>
  <td>
  <%= image_tag  "#{location.picture}", width: "600px" %>
  </td>
</tr>
<% end %>
</table>
</div>

