<h1>All Cults</h1>
<div>
<table>
<% @cults.each do |cult| %>
<tr>
    <td style = width:500px>
        <%if cult.picture%>
        <%= image_tag  "#{cult.picture}", width: "100%" %>
        <%end%>
    </td>
    <td>
    <h4><%= link_to "#{cult.name}", cult%></h4>
    <h6><%= cult.member_count%></h6>
    </td>
</tr>
<% end %>
</table>
</div>
